
.login{
    @include bgcolor;
}

.head-nav{
  position: relative;
  top:-20px;
  left:-25px;
}
.toolbar-title-md{
  color:#fff !important;
}
.toolbar-title-ios{
  color:#fff !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff !important;
    background-color: transparent;
}
.pagetitle{
  text-align:center;
  font-size: 16px;
  letter-spacing: 1px;
  color:#fff;
  margin:40px 0px 40px 0px;
  text-transform: uppercase;
}

.center{
  text-align: center;
}

.cta button{
  background-color: #fff !important;
  color:#FE3F21;
}

.separator{
  margin:40px 0px 40px 0px;
  border-bottom:1px solid rgba(255,255,255, 0.5)
}

.cta-social{
  position:relative;
  top:15px;
}

.actions{
  position: relative;
  top:-10px;
    .col1{
      width: 100%;
    }
     button.left{
      @include text-actions;
      padding:0;
      position: relative;
      left:-10px;   
    }
    .col2 {
      width: 100%;
    }
    button.right{
      @include text-actions;
      padding:0;
      position: relative;
      right:-53px;
    }
}




