page-category {
  .front-content{
      background-color:#2E294E !important;
       .topbox{
        width: 100%;
        height: 185px;
        //border-bottom:1px solid #e13838;
        @include bgcolor;
        .topinfo{
            width: 280px;
            height: auto;
    /*      border: 1px solid #fff;*/
            position: relative;
            top: -90px;
            margin: 0 auto;
            h3.genres{
                font-size:23px;
                font-weight: 400;
                text-align:left;
                text-transform:uppercase;
                letter-spacing: 2px;
                color:#fff;
                position: relative;
                top: -75px;
                left: -25px;
                padding-bottom:5px;
            } 
            h5{
                font-size:14px;
                font-weight: 300;
                text-align:left;
                text-transform:capitalize;
                letter-spacing: 2px;
                color:#fff;
                position: relative;
                top: -95px;
                left: -25px;
            
            }

            .hr-separator{
                width: 80px;
                height:3px;
                border-bottom:1px solid rgba(255,255,255, 0.5)
            }


            button{
                margin: 0 auto;
                position: relative;
                left: 35%;
            }
        }
    }
   .genres-list{
      .genres-item{
         .cell{
            display:inline-table;
            float: left;
            width:30%;
            height:auto;
            margin-left:10px;
            margin-bottom:-60px;
            .masking-thumb{
               width:100%;
               height:111px;
               @include mask;
               position:absolute;
               background: linear-gradient(transparent, #2E294E) left repeat;
               z-index: 100;

            }
            img.thumb{
                width:100%;
                height:110px;
            }
            .playsm{
                width:31px;
                height:31px;
                position: relative;
                margin: 0 auto;
                z-index: 1000;
                top: -75px;
            } 
             h3{
                font-size:11px;
                letter-spacing:2px;
                line-height:120%;
                font-weight:lighter;
                color:rgb(255,255,255);
                text-align:center; 
                margin-left:3px;
                text-transform: uppercase;
                position: relative;
                top: -75px;
                width:100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 1000; 
            }           
        }
      }       
   }
}
 
}

