<ion-header>
  <ion-toolbar color="orange">
   <ion-title><img src="assets/img/logo.png"/></ion-title>
   <ion-buttons end>
     <button ion-button menuToggle icon-only>
       <ion-icon name="menu"></ion-icon>
     </button>
   </ion-buttons>
  </ion-toolbar>
 </ion-header>
<ion-content class="front-content">
  <div class="topbox">
    <img src="assets/img/bg_overlay2.png"/>
    <div class="topinfo">
      <h3>Browse Library</h3>
      <button ion-button outline small  color="light" round (click)="browseVideos();">
        GO
      </button>
    </div>
  </div>
  <!--<ion-scroll class="related" scrollY="true" style="width: 100%; height: 100%;">-->
  <div class="topvideos">
    <h3>Top 10 videos</h3>
     <ion-slides pager="true" >
        <ion-slide>
          <img src="assets/img/kai_small.png"/>
          <div class="playsm">
            <img  src="assets/img/play_sm.png" (click)="playVideo();"/>
          </div>
          <h3>KAI-Malade</h3>
        </ion-slide>
        <ion-slide>
          <img src="assets/img/dat7_sm.png"/>
          <div class="playsm">
            <img  src="assets/img/play_sm.png" (click)="playVideo();"/>
          </div>
          <h3>Dat7-Se konsa</h3>
        </ion-slide>
         <ion-slide>
          <img src="assets/img/kai_small.png"/>
        </ion-slide>
         <ion-slide>
          <img src="assets/img/kai_small.png"/>
        </ion-slide>   
    </ion-slides>
  </div>
  <div class="topvideos">
    <h3>New Releases</h3>
     <ion-slides pager="true" >
        <ion-slide *ngFor="let element of elements ">
          <img [src]="element.thumb" class="thumb"/>
          <div class="playsm">
            <img  src="assets/img/play_sm.png" (click)="playvideo(element.id, element.key, element.title, element.band, element.category_id);"/>
          </div>
              <h3>{{element.title}}</h3>
        </ion-slide>
    </ion-slides>
  </div>
  <div class="topvideos">
    <h3>Categories</h3>
     <ion-slides pager="true" >
        <ion-slide *ngFor="let item of items" >
          <img src="assets/img/{{item.name}}.png"/>
          <button ion-button outline small class="categorybtn" color="light" >
           {{item.name}}
          </button>
        </ion-slide>
    </ion-slides>
  </div>
  <!--</ion-scroll>-->
</ion-content>
