page-registration {

}
/*.login{
  /*background:#fd1625 ;
  background: -moz-linear-gradient(top,  #fd1625 0%, #fe4221 100%);
  background: -webkit-linear-gradient(top,  #fd1625 0%,#fe4221 100%);
  background: linear-gradient(to bottom,  #fd1625 0%,#fe4221 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd1625', endColorstr='#fe4221',GradientType=0 );
  background: url('../assets/img/bg_overlay.png') top top  #fd1625;
  background-size:contain;
}

.head-nav{
  position: relative;
  top:-20px;
  left:-25px;
}
.toolbar-title-md{
  color:#fff !important;
}
.toolbar-title-ios{
  color:#fff !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff !important;
    background-color: transparent;
}
.pagetitle{
  text-align:center;
  font-size: 16px;
  letter-spacing: 1px;
  color:#fff;
  margin:40px 0px 40px 0px;
  text-transform: uppercase;
}

.center{
  text-align: center;
}

.cta button{
  background-color: #fff !important;
  color:#FE3F21;
}

.separator{
  margin:40px 0px 40px 0px;
  border-bottom:1px solid rgba(255,255,255, 0.5)
}

.cta-social{
  position:relative;
  top:15px;
}

.actions{
  position: relative;
  top:-10px;
}

.col1 h3{
  font-size: 13px;
  color:#fff;
  letter-spacing:1px;
  position:relative;
  top:-5px;
  left:-10px;
  float:left;
  text-transform: uppercase;
}

.col2 h3{
  font-size: 13px;
  color:#fff;
  letter-spacing:1px;
  position:relative;
  top:-5px;
  right:-10px;
  float:right;
  text-transform: uppercase;
}*/
.acknowledgment{
  position: relative;
  top:30px;
  p{
    color:#fff;
    font-size: 13px;
    text-align:center;
    span{
      font-weight: bold;
      color:blue;
    }
  }
}

.page-adjust{
  margin: 10px 0px 10px 0px;
}
