// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange:     #FD1721,
);

@mixin bgcolor {
  background: #fd1721;
  background: -moz-linear-gradient(top,  #fd1721 0%, #2e294e 100%);
  background: -webkit-linear-gradient(top,  #fd1721 0%,#2e294e 100%);
  background: linear-gradient(to bottom,  #fd1721 0%,#2e294e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd1721', endColorstr='#2e294e',GradientType=0 );
 
}

@mixin mask {
  background: -webkit-linear-gradient(transparent, #2E294E) left repeat;
  background: linear-gradient(transparent, #2E294E) left repeat;
  z-index:100;
}

@mixin font-common{
  text-align:center;
  letter-spacing:1px;
  color:#fff;
}

@mixin text-actions{
  font-size: 13px;
  color:#fff;
  letter-spacing:1px;
  position:relative;
  text-transform: uppercase; 
}
@mixin imgsize{
  width:130px;
  height: 100%;
  
}

@mixin labeltext{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

$refresher-icon-color: #fff;
$refresher-border-color: none;
$refresher-text-color: #fff;
$refresher-icon-color: #fff;




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";





// Media query iphone 5 -5s
//---------------------------------------------------
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
    .genres-list{
      .genres-item{
         .cell{
            display:inline-table;
            float: left;
            width:100px;
            height:85px;
            margin-left:3px;
            margin-bottom:-60px;
            .masking-thumb{
               width:100px;
               height:85px;
               @include mask;
               position:absolute;
               background: linear-gradient(transparent, #2E294E) left repeat;
               z-index: 100;

            }
            img.thumb{
                width:100px !important;
                height:85px !important;
            }
            .playsm{
                width:31px;
                height:31px;
                position: relative;
                margin: 0 auto;
                z-index: 1000;
                top: -75px;
            } 
             h3{
                font-size:11px;
                letter-spacing:2px;
                line-height:120%;
                font-weight:lighter;
                color:rgb(255,255,255);
                text-align:center; 
                margin-left:3px;
                text-transform: uppercase;
                position: relative;
                top: -75px;
                width:100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 1000; 
            }           
        }
      }       
   }

    page-front .topvideos ion-slides ion-slide {
        width: 110px !important;
        margin-right: 10px;
        margin-bottom: 15px !important;
    }

    .floatingbtn {
        left: 250px ;
    }

    .skip-btn {
        position: relative;
        top: 100px;
    }

    page-category .front-content .topbox .topinfo h3.genres {
        font-size: 20px;
        position: relative;
        top: -50px;
        left: -10px;
        padding-bottom: 5px;
    }

    page-category .front-content .topbox .topinfo h5 {
        position: relative;
        top: -65px;
        left: -10px;
    }
}

 

// Media query iphone 6
//---------------------------------------------------
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
   .genres-list{
      .genres-item{
         .cell{
            display:inline-table;
            float: left;
            width:113px;
            height:110px;
            margin-left:10px;
            margin-bottom:-60px;
            .masking-thumb{
               width:113px;
               height:110px;
               @include mask;
               position:absolute;
               background: linear-gradient(transparent, #2E294E) left repeat;
               z-index: 100;

            }
            img.thumb{
                width:113px !important;
                height:110px !important;
            }
            .playsm{
                width:31px;
                height:31px;
                position: relative;
                margin: 0 auto;
                z-index: 1000;
                top: -75px;
            } 
             h3{
                font-size:11px;
                letter-spacing:2px;
                line-height:120%;
                font-weight:lighter;
                color:rgb(255,255,255);
                text-align:center; 
                margin-left:3px;
                text-transform: uppercase;
                position: relative;
                top: -75px;
                width:100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 1000; 
            }           
        }
      }       
   }
   page-category .front-content .topbox .topinfo h3.genres {
      position: relative;
      top: -75px;
      left: -25px;
      padding-bottom:5px;
  }
  page-category .front-content .topbox .topinfo h5 {
      position: relative;
      top: -95px;
      left: -25px;
    }
}



// Media query iphone 6+
//---------------------------------------------------

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
     .genres-list{
      .genres-item{
         .cell{
            display:inline-table;
            float: left;
            width:126px;
            height:110px;
            margin-left:9px;
            margin-bottom:-60px;
            .masking-thumb{
               width:126px;
               height:110px;
               @include mask;
               position:absolute;
               background: linear-gradient(transparent, #2E294E) left repeat;
               z-index: 100;

            }
            img.thumb{
                width:126px !important;
                height:110px !important;
            }
            .playsm{
                width:31px;
                height:31px;
                position: relative;
                margin: 0 auto;
                z-index: 1000;
                top: -75px;
            } 
             h3{
                font-size:11px;
                letter-spacing:2px;
                line-height:120%;
                font-weight:lighter;
                color:rgb(255,255,255);
                text-align:center; 
                margin-left:3px;
                text-transform: uppercase;
                position: relative;
                top: -75px;
                width:100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 1000; 
            }           
        }
      }       
   }

   page-category .front-content .topbox .topinfo h3.genres {
      position: relative;
      top: -75px;
      left: -25px;
      padding-bottom:5px;
   }
   page-category .front-content .topbox .topinfo h5 {
      position: relative;
      top: -95px;
      left: -25px;
    }
}


// Media query Android(
//---------------------------------------------------
@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 732px) 
  and (-webkit-min-device-pixel-ratio: 2.6)
  and (orientation: portrait) { 
      .genres-list{
      .genres-item{
         .cell{
            display:inline-table;
            float: left;
            width:123px;
            height:110px;
            margin-left:10px;
            margin-bottom:-60px;
            .masking-thumb{
               width:123px;
               height:110px;
               @include mask;
               position:absolute;
               background: linear-gradient(transparent, #2E294E) left repeat;
               z-index: 100;

            }
            img.thumb{
                width:123px !important;
                height:110px !important;
            }
            .playsm{
                width:31px;
                height:31px;
                position: relative;
                margin: 0 auto;
                z-index: 1000;
                top: -75px;
            } 
             h3{
                font-size:11px;
                letter-spacing:2px;
                line-height:120%;
                font-weight:lighter;
                color:rgb(255,255,255);
                text-align:center; 
                margin-left:3px;
                text-transform: uppercase;
                position: relative;
                top: -75px;
                width:100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 1000; 
            }           
        }
      }       
   }

   page-category .front-content .topbox .topinfo h3.genres {
      position: relative;
      top: -75px;
      left: -25px;
      padding-bottom:5px;
   }
   page-category .front-content .topbox .topinfo h5 {
      position: relative;
      top: -95px;
      left: -25px;
    }
}
