// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange:     #FD1721,
);

@mixin bgcolor {
  background: #fd1721;
  background: -moz-linear-gradient(top,  #fd1721 0%, #2e294e 100%);
  background: -webkit-linear-gradient(top,  #fd1721 0%,#2e294e 100%);
  background: linear-gradient(to bottom,  #fd1721 0%,#2e294e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd1721', endColorstr='#2e294e',GradientType=0 );
 
}

@mixin mask {
  background: -webkit-linear-gradient(transparent, #000) left repeat;
  background: linear-gradient(transparent, #000) left repeat;
  z-index:100;
}

@mixin font-common{
  text-align:center;
  letter-spacing:1px;
  color:#fff;
}

@mixin text-actions{
  font-size: 13px;
  color:#fff;
  letter-spacing:1px;
  position:relative;
  text-transform: uppercase; 
}
@mixin imgsize{
  width:185px;
  height: 100%;
  
}

$refresher-icon-color: #fff;
$refresher-border-color: none;
$refresher-text-color: #fff;
$refresher-icon-color: #fff;




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
