
<!-- this menu section should hold what content and destine to where
// at what point in time?
// That is determined by the last line in this -->
<ion-menu [content]="content">
 
<!-- The side menu title-->
<ion-header>
  <ion-toolbar color="orange">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content padding>
   <ion-list inset class="side-list">    
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="side-menu">
        {{p.title}}
      </button>
      
      <label *ngIf="auth_status == 'OK'">
        <button ion-item (click)="signOut()">Sign Out</button>
      {{loggedInUser}}
      </label>
  </ion-list>
    
  </ion-content>
 
</ion-menu>
<!-- What's my root? remember the this.rootPage?-->
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>


