page-intro {

}

@mixin slidetext{
  color:#fff;
}

.first{
    background-color:#FD1625;
    img{
        @include imgsize;
    }
    h1{
      @include slidetext;
    }
     p{
     @include slidetext;
    }
}

.second{
    background-color:#FD1625/*#0197F6*/;
    img{
        @include imgsize;
    }
    h1{
     @include slidetext;
    }
    p{
     @include slidetext;
    }
}

.third{
    background-color:#FD1625/*#02182B*/;
    img{
        @include imgsize;
    }
   h1{
    @include slidetext;
   }
   button{
    @include slidetext;
   }
}