

@mixin slidetext{
  color:#fff;
  font-size:18px;
  letter-spacing:1px;
}

.first{
    /*background-color:#FD1625*/;
    @include bgcolor;
    img{
       @include imgsize;
    }
    h1{
      @include slidetext;
    }
     p{
        color: #fff;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: justify;
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 15px;
        line-height: 30px;
        font-weight:lighter;
    }
}

.second{
    /*background-color:#FD1625 #0197F6*/;
    @include bgcolor;
    img{
        @include imgsize;
    }
    h1{
     @include slidetext;
    }
    p{
     @include slidetext;
    }
}

.third{
    /*background-color:#FD1625 #02182B*/;
    @include bgcolor;
    img{
        @include imgsize;
    }
   h1{
    @include slidetext;
   }
   button{
    @include slidetext;
    font-size:12px !important;
    border-color: #fff !important;
   }
}

#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #002a3e;
}

.flb {
  background-color:#2E294E;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#custom-overlay img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  animation: animation 3100ms linear infinite both;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
