page-intro {

}

@mixin slidetext{
  color:#fff;
}

.first{
    background-color:#FD1625;
    h1{
      @include slidetext;
    }
}

.second{
    background-color:#0197F6;
    h1{
     @include slidetext;
    }
    p{
     @include slidetext;
    }
}

.third{
    background-color:#02182B;
   h1{
    @include slidetext;
   }
   button{
    @include slidetext;
   }
}