page-resetpassword {

}
.acknowledgment{
  position: relative;
  top:30px;
  p{
    color:#fff;
    font-size: 13px;
    text-align:center;
    span{
      font-weight: bold;
      color:#0197f6;
    }
  }
}

.page-adjust{
  margin: 10px 0px 10px 0px;
}
