page-videodetails {

}
.videoplayer{
    width:100%;
    height:auto;
    background-color: #000;
}

.video-info{
    margin-top:5px;
    ion-list{
      ion-item{
        h3{
          font-size:15px;
          letter-spacing:1px;
          color:#000;
          font-weight:lighter;
          position:relative;
          top:0;
          text-transform:capitalize;
      }
    }
  }
}

ion-scroll.related{
   position:relative;
   top:-15px;
    ion-list{
      ion-list-header{
        ion-label{
          font-weight: normal;
          text-align: center;
          text-transform:uppercase;
        }
    }
      ion-avatar img{
        width:130px;
        height:90px;
        border-radius: 0px !important;
      }
    ion-label{
      font-size: 14px;
      text-transform: capitalize;  
     }
    ion-icon.sharebtn{
        position:relative;
        left:-20px;
        }
    }
}

.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

