page-videodetails {

}
.videoplayer{
    width:100%;
    height:auto;
    background-color: #000;
}

.video-info{
    margin-top:5px;
    ion-icon.sharebtn{
       position:relative;
       left:-20px;
    }
}


ion-scroll.related{
   position:relative;
   top:-15px;
    ion-list{
    ion-icon.sharebtn{
        position:relative;
        left:-20px;
        }
    }
}

